{% extends 'foundation.html' %}{% load url from future %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
<style>
h1, h2 {
  font-weight: normal;
}
.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
  <ul class="inline" style="margin:0 0 25px">
    <li><a href="{% url 'random_pet' %}">Random Pet</a></li>
    <li><a href="{% url 'random_pet' %}?type=cat">Random Cat</a></li>
    <li><a href="{% url 'random_pet' %}?type=dog">Random Dog</a></li>
    <li><a href="{% url 'all_pets' %}">All Pets</a></li>
  </ul>

  {% if pet %}
  <h1>Hi! {% if pet.name %}I'm {{ pet.name | title }}{% else %}I don't have a name{% endif %}!</h1>
  <p>I am a {{ pet.gender | lower }} {{ pet.color | lower }} {{ pet.breed | lower }}.<p>
  <p>You can adopt me at {{ pet.location }}!</p>
  <a href="{{ pet.detail_url }}"><img src="{{ pet.image_url }}"></a>
  <p><a href="{{ pet.detail_url }}">Find out more</a> or <a href="{% url 'single_pet' pet.id %}">get a permanent URL for this pet</a></p>
  {% else %}
  <p>Sorry, no pets can be shown at the moment!</p>
  {% endif %}

  <h2 style="margin-top:30px;font-weight:normal">Adoptable Pets in Denver</h2>

</div>
{% endblock %}
